<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticaed %}
                Hello, {{ user.username }}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>Account List</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number</th>
                <th>Number Of receipts</th>
            </thead>
            <tbody>
                {% for accounts in accounts_object %}
                <tr>
                    <td>{{ accounts.name }}</td>
                    <td>{{ accounts.number }}</td>
                    <td>{{ accounts.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>
